<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gagal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      .background-image {
        background-image: url('{{ url_for("static", filename="images/1.png") }}');
      }
    </style>
  </head>
  <body class="bg-backg">
    <!-- Header Start -->
    <header>
      <div
        class="bg-primary fixed top-0 left-0 right-0 w-full flex items-center z-10 shadow-xl font-ibm"
      >
        <div class="container">
          <div class="flex items-center justify-between relative">
            <div class="px-4 flex md:px-9">
              <a href="#home" class="flex items-center py-6">
                <img
                  src="{{ url_for('static', filename='images/logo-footer.png') }}"
                  alt=""
                  class="block mr-2 w-6 h-7 md:w-9 md:h-10 md:mr-4"
                />
                <span class="text-white text-base font-bold md:text-xl"
                  >AgriPredict</span
                >
              </a>
            </div>
            <div class="flex items-center px-4">
              <button
                id="hamburger"
                name="hamburger"
                type="button"
                class="block absolute right-4 md:hidden"
              >
                <span
                  class="w-[30px] h-[2px] my-2 block bg-white transition duration-300 ease-in-out origin-top-left"
                ></span>
                <span
                  class="w-[30px] h-[2px] my-2 block bg-white transition duration-300 ease-in-out"
                ></span>
                <span
                  class="w-[30px] h-[2px] my-2 block bg-white transition duration-300 ease-in-out origin-bottom-left"
                ></span>
              </button>
              <nav
                id="nav-menu"
                class="hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] w-full right-4 top-full md:block md:static md:max-w-full md:shadow-none md:rounded-none md:bg-transparent"
              >
                <ul class="block md:flex md:text-white">
                  <li class="group">
                    <a
                      class="text-base text-dark py-2 mx-8 group-hover:text-primary md:group-hover:text-black flex"
                      href="#"
                      >Beranda</a
                    >
                  </li>
                  <li class="group">
                    <a
                      class="text-base text-dark py-2 mx-8 group-hover:text-primary md:group-hover:text-black flex"
                      href="#our"
                      >Visi Kami</a
                    >
                  </li>
                  <li class="group">
                    <a
                      class="text-base text-dark py-2 mx-8 group-hover:text-primary md:group-hover:text-black flex"
                      href="#how"
                      >Bagaimana</a
                    >
                  </li>
                  <li class="group">
                    <a
                      class="text-base text-dark py-2 mx-8 group-hover:text-primary md:group-hover:text-black flex"
                      href="#why"
                      >Kenapa</a
                    >
                  </li>
                  <li class="group">
                    <a
                      class="text-base text-dark py-2 mx-8 group-hover:text-primary md:group-hover:text-black flex"
                      href="/templates/prediksi.html"
                      >Ayo prediksi</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
    <main class="mt-36 font-ibm">
      <!-- hero Start -->
      <article id="hero">
        <div class="bg-white w-auto h-auto mx-4 rounded-xl md:mx-14">
          <p
            class="text-center text-base text-primary pt-2 font-bold md:text-[40px] md:pt-8"
          >
            Hasil Tanaman Anda
          </p>
          <hr class="border-t-2 border-primary mx-6 mt-3 md:mt-8" />
          <div class="flex justify-center items-center mt-4">
            <img
              class="md:w-[350px] md:h-auto"
              src="{{ url_for('static', filename='images/gagal.png') }}"
              alt=""
            />
          </div>
          <h5
            class="text-balance text-center font-bold text-red-500 md:text-[40px]"
          >
            Maaf... Tanaman Anda Tidak Tumbuh
          </h5>
          <p
            class="text-wrap text-center text-xs mt-2 text-third pb-5 px-6 md:pb-10 md:text-[18px] md:text-balance md:leading-relaxed"
          >
            Sayang sekali.. tanaman anda tidak cocok ditanam pada tanah
            berpasir, tanaman anda lebih baik tumbuh di tanah yang subur, kaya
            akan bahan organik, dan memiliki drainase yang baik, klik
            rekomendasi untuk mengetahui kekurangan anda
          </p>
        </div>
      </article>
      <!-- Hero End -->
      <!-- figure start -->
      <figure>
        <div
          class="flex md:justify-center md:items-center w-auto h-auto mx-4 mt-14"
        >
          <img src="{{ url_for('static', filename='images/figure.png') }}" alt="" />
        </div>
        <hr
          class="border-t-2 border-primary mx-4 mt-3 md:border-t-4 md:mx-14"
        />
        <p
          class="text-wrap text-center text-sm mx-7 mt-2 md:text-[35px] md:leading-relaxed md:mt-6 md:mb-6 md:text-balance"
        >
          Cabai adalah sayuran daun hijau yang kaya akan zat besi dan vitamin.
          Tumbuh subur di tanah dengan kelembaban yang baik.
        </p>
      </figure>
      <!-- figure end -->
      <!-- rekomendasi start -->
      <div class="bg-white mt-6 w-auto h-auto mx-4 rounded-xl md:mx-36">
        <h2 class="text-center pt-2 font-bold md:text-[40px]">Rekomendasi</h2>
        <p
          class="text-warp mt-3 text-center mx-2 text-sm text-third pb-6 md:text-base md:mx-10 md:leading-relaxed"
        >
          Tanaman cabai Anda mungkin menghadapi kesulitan untuk tumbuh dengan
          optimal karena beberapa faktor. Pertama, periksa apakah tanaman
          mendapatkan cukup sinar matahari. Cabai memerlukan sinar matahari
          penuh sepanjang hari, dan kurangnya cahaya dapat menghambat
          pertumbuhannya. Pastikan tanaman berada di tempat yang terkena cahaya
          matahari langsung minimal enam jam per hari. Kedua, suhu lingkungan
          yang tidak sesuai dapat mempengaruhi pertumbuhan cabai. Tanaman ini
          tumbuh baik pada suhu antara 20-30 derajat Celcius. Jika suhu terlalu
          rendah atau terlalu tinggi, tanaman mungkin tidak berkembang dengan
          baik. Ketiga, kondisi tanah sangat penting. Tanah yang terlalu kering
          atau terlalu basah dapat merusak akar tanaman. Pastikan tanah tetap
          lembab, tetapi hindari penyiraman berlebihan yang bisa menyebabkan
          akar membusuk. Tanah yang subur dan kaya nutrisi juga diperlukan.
          Berikan pupuk organik secara teratur dan pastikan pH tanah berada
          dalam kisaran 6.0 hingga 7.0. Keempat, perhatikan kelembapan udara.
          Tanaman cabai memerlukan kelembapan sedang hingga tinggi. Jika udara
          terlalu kering, semprotkan air pada daun untuk menjaga kelembapan.
          Terakhir, lakukan pemangkasan dan penyiangan secara rutin untuk
          menghilangkan daun atau ranting yang mati serta menghindari
          pertumbuhan gulma yang dapat mengganggu tanaman. Dengan memperhatikan
          faktor-faktor ini, Anda dapat meningkatkan peluang keberhasilan
          tanaman cabai Anda.
        </p>
      </div>
      <!-- rekoemndasi end -->
    </main>
    <!-- Footer Start -->
    <!-- Footer Start -->
    <div
      class="background-image relative bg-primary bg-opacity-80 bg-cover bg-center w-full h-full mt-[45px] bottom-0 left-0 right-0 font-ibm"
    >
      <div class="absolute inset-0 bg-primary opacity-80"></div>
      <div class="relative z-5 container">
        <div class="container md:flex md:justify-between">
          <!-- logo -->
          <div class="md:flex md:w-1/3 items-center md:ml-[163px]">
            <div class="flex items-center pb-4">
              <img
                class="block mx-auto pt-5 w-16 h-19 md:w-24 md:h-32"
                src="{{ url_for('static', filename='images/logo-footer.png') }}"
                alt=""
              />
            </div>
          </div>

          <!-- input follow us -->
          <div class="md:mr-[183px] md:my-10 md:w-1/3">
            <div class="flex items-center">
              <input
                type="text"
                placeholder="Your name Here"
                class="w-72 h-12 mx-auto text-sm pl-2 text-primary shadow-md rounded-md"
              />
            </div>
            <div class="flex items-center pt-4">
              <input
                type="text"
                placeholder="Your massage here"
                class="w-72 h-12 mx-auto text-sm pl-2 text-primary shadow-md rounded-md"
              />
            </div>
            <div class="flex items-center mx-auto pt-4">
              <div class="flex mx-auto">
                <div class="pr-4">
                  <input
                    type="text"
                    placeholder="Your email here"
                    class="w-44 h-12 text-sm pl-2 text-primary shadow-md pr-4 rounded-md"
                  />
                </div>
                <div>
                  <button
                    class="w-24 h-12 border-2 text-white hover:bg-white hover:text-slate-800 rounded-md"
                  >
                    Sumbit
                  </button>
                </div>
              </div>
            </div>
            <div class="flex items-center pt-9 font-ibm">
              <div class="flex mx-auto">
                <p class="text-base font-medium mr-20 text-white">FOLLOW US</p>
                <div class="flex">
                  <img
                    class="w-8 mr-1"
                    src="{{ url_for('static', filename='images/ig.png') }}"
                    alt=""
                  />
                  <img
                    class="w-8 mx-1"
                    src="{{ url_for('static', filename='images/fb.png') }}"
                    alt=""
                  />
                  <img
                    class="w-8 mx-2"
                    src="{{ url_for('static', filename='images/yt.png') }}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- contact us -->
          <div class="md:w-1/3 md:mr-30 md:mt-4">
            <div class="flex items-center pt-8 pb-8 font-ibm">
              <div class="flex mx-auto">
                <div class="flex mr-12">
                  <div class="text-white">
                    <p class="font-medium text-base pb-2">CONTANT US</p>
                    <p class="mt-3 text-sm">
                      <span class="font-medium">Address:</span><br />
                      Universita Amikom <br />
                      Yogyokarta
                    </p>
                    <p class="mt-3 text-sm">
                      <span class="font-medium">Call:</span><br />085712016460
                    </p>
                  </div>
                  <!-- navigate -->
                  <div class="flex flex-col text-white ml-12 md:ml-20">
                    <p class="text-white text-base font-medium">NAVIGATE</p>
                    <a class="mt-3 mb-2 text-sm" href="#">Home</a>
                    <a class="my-2 text-sm" href="#">About</a>
                    <a class="my-2 text-sm" href="#">Contact</a>
                    <a class="my-2 text-sm" href="#">Location</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
